body {
  font-family: 'Raleway', sans-serif;
  background: #171717;
}


.nav-item:hover {
  color: #E2B842 !important;
}

h1 {
  color: #105469;
  font-weight: 900;
}

footer, footer .container .col{
  height: 200px;
}